# <font color="blue">You Should Know</font>

# <font color="blue">Most Commonly Used Python Functions.</font>

# <font color="blue">Notebook By Khurram.</font>

## 1. print()

### Prints text data to the console.

In [1]:
print("Hello, World!")

Hello, World!

## 2. len()

### Returns the length of an object (e.g., a list, string, or tuple).

In [2]:
length = len("Hello")
print(length)

5

## 3. type()

### Returns the type of an object.

In [3]:
print(type(123))

<class 'int'>

## 4. int(), float(), str()

### Convert values to integers, floating-point numbers, or strings.

In [4]:
int_number = int("42")
float_number = float("3.14")
str_string = str(123)

print(type(int_number))
print(type(float_number))
print(type(str_string))

<class 'int'>
<class 'float'>
<class 'str'>

## 5. range()

### Generates a sequence of numbers, often used in loops.

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

## 6. list(), tuple(), set(), dict()

### Create list, tuple, set, or dictionary objects.

In [6]:
list_1 = list([1,2,3])
print(list_1)
print(type(list_1))

[1, 2, 3]
<class 'list'>

In [7]:
tuple_1 = tuple([1,2,3])
print(tuple_1)
print(type(tuple_1))

(1, 2, 3)
<class 'tuple'>

In [8]:
set_1 = set([1,2,3])
print(set_1)
print(type(set_1))

{1, 2, 3}
<class 'set'>

In [9]:
dict_1 = dict([("one",1), ("two",2), ("three",3)])
print(dict_1)
print(type(dict_1))

{'one': 1, 'two': 2, 'three': 3}
<class 'dict'>

## 7. sum()

### Returns the sum of an iterable.

In [10]:
sum_of_numbers = sum([1,2,3])
print(sum_of_numbers)

6

## 8. max(), min()

### Return the largest or smallest item in an iterable.

In [11]:
max_number = max([1, 2, 3])
min_number = min([1, 2, 3])
print(max_number)
print(min_number)

3
1

## 9. abs()

### Returns the absolute value of a number.

In [12]:
absolute_value = abs(-10)
print(absolute_value)

10

## 10. sorted()

### Returns a new sorted list from the elements of any iterable.

In [13]:
sorted_list = sorted([3, 1, 2])
print(sorted_list)

[1, 2, 3]

## 11. map()

### Applies a function to all items in an iterable.

In [14]:
string_list = list(map(str, [1, 2, 3]))
print(string_list)
print(type(string_list[0]))

['1', '2', '3']
<class 'str'>

## 12. all(), any()

### Check if all or any elements of an iterable are true.

In [15]:
if_all_true = all([True, True, False])
if_any_true = any([True, True, False])
print(if_all_true)
print(if_any_true)

False
True